.quiz-button {
    background-color: #f8d400;
    padding: 2rem 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
}
  
.quiz-button:hover {
    transform: scale(1.05);
}

.arrow-left {
    width: 20px;
    height: 20px;
    border-top: 6px solid #f8d400;
    border-left: 6px solid #f8d400;
    transform: rotate(-45deg);
    transition: transform 0.2s ease;
    margin: 10px;
}

.arrow-left:hover {
    transform: rotate(-45deg) scale(1.1);
}

.levitate {
    animation: levitate 1s ease-in-out infinite alternate;
}

@keyframes levitate {
    0% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}