/* app/quizz/style.css */

.quizz-container {
  width: 50%;
  margin: 200 auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.quizz-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  text-align: left;
}

.quizz-table th {
  padding: 12px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.quizz-table td {
  padding: 12px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.start-button {
  background-color: #00b894;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #019870;
}
