@import "tailwindcss";

:root {
  /* Couleurs principales */
  --font-size-xs: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 36px;

  --primary-color: #0B0C10;
  --secondary-color: #fb3636;
  --tertiary-color: #f5f5f5;
  --grayed-text: #8E8E8E;

  /* Couleurs d'alerte */
  --alert-danger-color: #FF3232;
  --alert-success-color: #00C853;
  --alert-warning-color: #FFD600;
  --alert-info-color: #f5f5f5;

  /* Couleurs d'état */
  --hover-red: #e70000;
  --hover-color: #fe2121;
  --disabled-color: #BDBDBD;

  /* Espacements */
  --padding-element: 0.5rem;

  /* Marges */
  --mt: 3rem;
  --mb: 2rem;
  --mb-section: 4rem;
}