@import url("./home/style.css");

@import "tailwindcss";

:root {
  /* Couleurs principales */
  --font-size-xs: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 36px;
  --font-size-xxlarge: 48px;
  --font-size-xxlarge2: 84px;

  --primary-color: #0B0C10;
  --secondary-color: #24F2D6;
  --tertiary-color: #f5f5f5;
  --grayed-text: #8E8E8E;

  /* Couleurs d'alerte */
  --alert-danger-color: #FF3232;
  --alert-success-color: #00C853;
  --alert-warning-color: #FFD600;
  --alert-info-color: #f5f5f5;

  /* Couleurs d'état */
  --hover-secondary: #20dbc2;
  --hover-color: #fe2121;
  --disabled-color: #BDBDBD;

  /* Espacements */
  --padding-element: 0.5rem;

  /* Marges */
  --mt: 3rem;
  --mb: 2rem;
  --mb-section: 4rem;
}

#name-app {
  font-size: var(--font-size-xxlarge2);
  font-family: var(--font-irish);
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

#rocket {
  animation: trajectory 4s ease-in-out infinite;
}

@keyframes trajectory {
  0% {
    opacity: 0;
    transform: translateX(-150px) translateY(-90px) rotate(60deg);
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateX(200px) translateY(200px) rotate(65deg);
  }
}