.levitate {
    animation: levitate 1s ease-in-out infinite alternate;
}

@keyframes levitate {
    0% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

body > .choice-quiz-page header {
    display: none;
  }